@mixin header($spacing : 3px, $weight : 300, $casing : upperCase) {
    letter-spacing: $spacing;
    font-weight: $weight;
    text-transform: $casing;
}

@mixin grid($cols : 1fr, $gap : 1rem, $rows : unset) {
    display : grid;
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin input($width : 100%, $bgColor : inherit, $padding : 1rem, $border : none) {
    width: 100%;
    border:  $border;
    background-color: $bgColor;
    border: $border;
    outline: none;
}

@mixin flex($dir : row, $justifyContent : center, $alignItems : center, $gap : 1rem) {
    display : flex;
    flex-direction: $dir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

@mixin square($size : 1rem) {
    height: $size;
    width: $size;
}

@mixin posCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}